@import "../mixins/_font-face.scss";

/** Material Icons **/
//@include fontface("Material Icons", "", "Material-Icons", "normal", 400);
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(/fonts/Material-Icons.woff2) format('woff2')}
.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased}

@font-face{font-family:"Material Design Icons";src:url(/fonts/materialdesignicons-webfont.woff2) format("woff2");font-weight:normal;font-style:normal}

/** Roboto **/
@include fontface("Roboto", "Roboto", "Roboto-Regular", "normal", 400, "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD");
@include fontface("Roboto", "Roboto Medium", "Roboto-Regular", "normal", 500, "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD");
@include fontface("Roboto", "Roboto Bold", "Roboto-Bold", "normal", 700, "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD");
